@tailwind base;
@tailwind components;
@tailwind utilities;

$color-purple: #7C3AED;
$bg: #111827;

* {
    font-family: 'Titillium Web', sans-serif;
    max-width: 100vw;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $bg;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $color-purple;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }