@tailwind base;
@tailwind components;
@tailwind utilities;

 /* #Register {
    height: 100vh;
}

#button {
    border-radius: 20px;
    background-color: #5852F2;
}

#button:hover {
    background-color: #2C2973;
}

#text {
    color: #5852F2;
}

#text:hover {
    color: #2C2973
}  */